<!-- BANNER -->
<div
  id="carouselExampleControls"
  class="carousel slide relative"
  data-bs-ride="carousel"
>
  <div class="carousel-inner relative w-full overflow-hidden">
    <div
      class="carousel-item active relative h-[460px] sm:h-[560px] bg-center bg-cover float-left w-full"
      style="background-image: url('<%= bannerImages[0]%>')"
    >
      <p
        class="absolute sm:bottom-[120px] bottom-[60px] sm:left-[150px] left-[20px] sm:text-[5rem] text-[2.5rem] leading-[60px] text-[#ffffff] font-bold"
      >
        The Panorama <br /><span
          class="text-[#f9f9f9] font-semibold sm:text-[3rem] text-[1.5rem]"
          >Country Club & Resort</span
        >
      </p>
    </div>
    <div
      class="carousel-item relative h-[560px] bg-center bg-cover float-left w-full"
      style="
        background-image: url('<%= bannerImages[1]%>');
      "
    ></div>
    <div
      class="carousel-item relative h-[560px] bg-center bg-cover float-left w-full"
      style="
        background-image: url('<%= bannerImages[2]%>');
      "
    ></div>
  </div>
  <button
    class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon inline-block bg-no-repeat"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon inline-block bg-no-repeat"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--AVAILABILTY FORM & ABOUT US -->
<section class="relative w-[80%] mx-auto rounded-md">
  <form
    class="bg-white shadow-lg sm:-translate-y-[50px] -translate-y-[20px] flex sm:flex-row flex-col justify-between sm:items-center sm:w-[90%] w-[95%] rounded-md mx-auto px-[20px] sm:px-[50px] py-[30px]"
  >
    <div class="pb-4 sm:pb-0">
      <p class="pb-2 font-semibold text-[0.9rem]">ARRIVAL DATE</p>
      <input
        class="form_control w-full"
        type="date"
        placeholder="Arrival Date"
      />
    </div>
    <div class="pb-4 sm:pb-0">
      <p class="pb-2 font-semibold text-[0.9rem]">DEPARTURE DATE</p>
      <input
        class="form_control w-full"
        type="date"
        placeholder="Arrival Date"
      />
    </div>
    <div class="pb-4 sm:pb-0">
      <p class="pb-2 font-semibold text-[0.9rem]">ADULTS</p>
      <select class="form_control w-full">
        <option>No. of Adults</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="pb-4 sm:pb-0">
      <p class="pb-2 font-semibold text-[0.9rem]">CHILDRENS</p>
      <select class="form_control w-full">
        <option>No. of Children</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <button
      type="submit"
      class="font-semibold text-[0.8rem] rounded-md mt-8 px-[22px] py-[10px] bg-[#e63232] text-white"
    >
      CHECK AVAILABLITY
    </button>
  </form>
  <div class="sm:grid sm:grid-cols-2 text-white sm:h-[500px]">
    <section class="flex flex-col">
      <p class="text-[#ef4848] pb-4">Welcome to Panorama</p>
      <p class="text-[3rem] font-bold leading-[45px] pb-6">
        Our Resort has been present for over 10 years
      </p>
      <p class="italic pb-8">We make your stay relaxing and refreshing</p>
      <p>
        Our objective at Panorama is to bring together our visitor's societies
        and spirits with our own, communicating enthusiasm and liberality in the
        food we share. We welcome to you the most exciting part of the resort
        i.e <a href="/" class="text-[#ee4444]">Waterpark</a>. Panorama team is
        dedicated to look after your precious time of stay.
      </p>
      <div class="mt-auto pb-[30px] flex items-center space-x-4 pt-6">
        <div class="rounded-full w-[60px] h-[60px] bg-[#efa017]"></div>
        <div>
          <p>Kahey Kamey</p>
          <p class="text-[#ed4545] font-semibold">RESORT MANAGER</p>
        </div>
      </div>
    </section>
    <section class="">
      <div
        class="sm:h-full h-[300px] sm:w-[80%] w-[90%] sm:mx-0 sm:ml-auto mx-auto bg-cover bg-center rounded-md"
        style="
          background-image: url('images/christian-lambert-vmIWr0NnpCQ-unsplash.jpg');
        "
      ></div>
    </section>
  </div>
</section>

<!-- SERVICES -->
<section
  class="w-[80%] mx-auto my-[50px] mt-[70px] rounded-[20px] overflow-hidden"
>
  <p class="text-center font-semibold text-[2.5rem] text-white pb-4">
    Our Services
  </p>
  <div class="sm:grid sm:grid-cols-3 text-white">
    <% services.forEach(function({imageUrl,title}){ %>
      <div
      class="relative h-[300px] sm:h-[400px] bg-cover bg-center"
      style="background-image: url('<%= imageUrl%>')"
    >
      <p
        class="absolute left-1/2 -translate-x-1/2 bottom-6 text-[1.2rem] sm:text-[1.7rem] font-semibold"
      >
       <%= title%>
      </p>
    </div>
      <%})%>
    <div
      class="relative h-[300px] sm:h-[400px] flex flex-col items-center justify-center bg-[#d93232] text-white"
    >
      <p class="font-bold text-[1.8rem] pb-6">Upto 20% off</p>
      <p
        class="w-[80%] mx-auto text-center text-[1.2rem] sm:text-[1.7rem] pb-6"
      >
        Enjoy a luxurious Advanture weekend dedicated to helping you unwind.
      </p>
      <a
        href="/rooms"
        class="text-[#474747] text-[0.8rem] bg-[#f9f9f9] px-6 py-3 rounded-md font-semibold"
      >
        VIEW ROOMS
      </a>
    </div>
  </div>
  <div class="bg-white py-[50px] sm:py-[80px]">
    <p class="text-center text-[#f14f4f] font-bold">AMENTIES</p>
    <p
      class="text-center text-[1.4rem] sm:text-[2.5rem] px-[20px] sm:px-0 font-bold pb-[20px]"
    >
      Make Your Stay Memorable
    </p>
    <div class="sm:grid sm:grid-cols-3 w-[80%] mx-auto">
      <div class="flex items-center space-x-3 py-2 sm:py-6">
        <span
          ><i class="fa fa-wifi" style="font-size: 30px" aria-hidden="true"></i
        ></span>
        <p class="text-[1.2rem] sm:text-[1.4rem]">High Speed Wifi</p>
      </div>
      <div class="flex items-center space-x-3 py-3 sm:py-6">
        <span
          ><i class="fa fa-car" style="font-size: 30px" aria-hidden="true"></i
        ></span>
        <p class="text-[1.2rem] sm:text-[1.4rem]">Pick and Drop Facility</p>
      </div>
      <div class="flex items-center space-x-3 py-3 sm:py-6">
        <span
          ><i
            class="fa fa-television"
            style="font-size: 30px"
            aria-hidden="true"
          ></i
        ></span>
        <p class="text-[1.2rem] sm:text-[1.4rem]">Smart Tv</p>
      </div>
      <div class="flex items-center space-x-3 py-3 sm:py-6">
        <span
          ><i class="fa fa-wifi" style="font-size: 30px" aria-hidden="true"></i
        ></span>
        <p class="text-[1.2rem] sm:text-[1.4rem]">Swimming Pool</p>
      </div>
      <div class="flex items-center space-x-3 py-3 sm:py-6">
        <span
          ><i
            class="fa fa-cutlery"
            style="font-size: 30px"
            aria-hidden="true"
          ></i
        ></span>
        <p class="text-[1.2rem] sm:text-[1.4rem]">Breakfast Included</p>
      </div>
      <div class="flex items-center space-x-3 py-3 sm:py-6">
        <span
          ><i class="fa fa-bath" style="font-size: 30px" aria-hidden="true"></i
        ></span>
        <p class="text-[1.2rem] sm:text-[1.4rem]">Shower Bathtub</p>
      </div>
    </div>
  </div>
</section>

<!-- ROOMS -->
<section class="text-white sm:mx-[150px] mx-[20px] pt-[50px]">
  <div class="flex sm:flex-row flex-col justify-between">
    <div>
      <p>ACCOMODATION</p>
      <p class="text-[2.2rem] pb-4 sm:pb-0 font-semibold">Rooms/Suit</p>
    </div>
    <div>
      <p>
        Our hotel offers 30 double, and 5 single rooms <br />
        as well as 36 suites and junior suites.
      </p>
      <a href="/rooms" class="underline text-[#f03737]">View All Rooms</a>
    </div>
  </div>
  <div class="sm:grid sm:grid-cols-3 sm:gap-6 py-6">
    <%- include('components/roomCardHome')%> <%-
    include('components/roomCardHome')%> <%-
    include('components/roomCardHome')%> <%-
    include('components/roomCardHome')%>
    <div class="col-span-2"><%- include('components/roomCardHome')%></div>
  </div>
</section>

<!-- RESTUARANT -->
<section class="bg-white w-full sm:w-[80%] mx-auto p-12 rounded-md">
  <p class="text-[1.3rem] font-semibold pb-4 text-[#b9b9b9]">RESTUARANT</p>
  <div class="grid sm:grid-cols-2 grid-cols-1">
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
      <% restuarantImages.forEach(function(image){ %>
      <div
        class="h-[150px] bg-cover rounded-md"
        style="background-image: url('images/<%= image%>')"
      ></div>
      <%})%>
    </div>
    <div class="sm:pl-[40px] pl-[20px] pt-[20px] sm:pt-0">
      <p class="text-[#e33939] text-[0.9rem] font-semibold">EAT & DRINK</p>
      <p class="font-bold text-[2.2rem]">
        Indulge in exceptional <br />
        & Local Foodies
      </p>
      <p class="text-[#b9b9b9] py-6">Open Daily : 7.30 am - 11.00pm</p>
      <button id="readmore" class="bg-[#f0f0f0] px-4 py-2">READ MORE</button>
    </div>
  </div>
</section>

<!-- WATERPARK -->
<section class="bg-white w-full sm:w-[80%] mx-auto p-12 rounded-md mt-6">
  <p class="text-[1.3rem] font-semibold pb-4 text-[#b9b9b9]">ENJOYMENT</p>
  <div class="grid sm:grid-cols-2 grid-cols-1">
    <div class="sm:pl-[40px] pl-[20px] pt-[20px] sm:pt-0 pb-6 sm:pb-0">
      <p class="font-bold text-[2.2rem]">
        Enjoy refreshing experience <br />
        in our Waterpark
      </p>
      <p class="text-[#b9b9b9] py-6">Open Daily : 7.30 am - 11.00pm</p>
      <button id="readmore" class="bg-[#f0f0f0] px-4 py-2">READ MORE</button>
    </div>
    <div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
      <% waterparkImages.forEach(function(image){ %>
      <div
        class="h-[150px] bg-cover rounded-md"
        style="background-image: url('images/<%=image%>')"
      ></div>
      <%});%>
    </div>
  </div>
</section>

<!-- TESTIMONIALS & ARTICLES-->
<section class="w-full mx-auto bg-white mt-[30px]">
  <p
    class="text-center text-[#20325e] font-bold text-[1.8rem] sm:text-[2.3rem] pt-[50px] px-4 sm:px-0"
  >
    What Our Customers are saying !!
  </p>

  <!-- caraousal testimonial -->
  <div class="sm:hidden mt-4">
    <div
      id="carouselExampleControls"
      class="carousel slide relative"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner relative w-full overflow-hidden">
        <div class="carousel-item active relative float-left w-full py-4 px-6">
          <p class="font-semibold text-[2rem] text-[#20325e] pb-4">
            The Best Resort
          </p>
          <p class="text-[#b8b8b8]">
            The team at Baroque is incredibly dedicated, knowledgeable, and
            helpful. The finished product was beautiful every penny incredibly
            dedicated, bleincredibly dedicated, knowledgeable.
          </p>
          <div class="flex items-center space-x-4 py-4">
            <div
              class="w-[40px] h-[40px] rounded-full bg-[#f6ac22] bg-cover bg-center"
            ></div>
            <p class="font-semibold">PARKED DEVED</p>
          </div>
        </div>
        <div class="carousel-item relative float-left w-full py-4 px-6">
          <p class="font-semibold text-[2rem] text-[#20325e] pb-4">
            Healthy Environment
          </p>
          <p class="text-[#b8b8b8]">
            The team at Baroque is incredibly dedicated, knowledgeable, and
            helpful. The finished product was beautiful every penny incredibly
            dedicated, bleincredibly dedicated, knowledgeable.
          </p>
          <div class="flex items-center space-x-4 py-4">
            <div
              class="w-[40px] h-[40px] rounded-full bg-[#f6ac22] bg-cover bg-center"
            ></div>
            <p class="font-semibold">PARKED DEVED</p>
          </div>
        </div>
        <div class="carousel-item relative float-left w-full py-4 px-6">
          <p class="font-semibold text-[2rem] text-[#20325e] pb-4">
            Best Holiday Place
          </p>
          <p class="text-[#b8b8b8]">
            I love the Resort and its environment . Baroque is incredibly
            dedicated, knowledgeable, and helpful. The finished product was
            beautiful every penny incredibly dedicated, bleincredibly dedicated,
            knowledgeable.
          </p>
          <div class="flex items-center space-x-4 py-4">
            <div
              class="w-[40px] h-[40px] rounded-full bg-[#f6ac22] bg-cover bg-center"
            ></div>
            <p class="font-semibold">PARKED DEVED</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon inline-block bg-no-repeat"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon inline-block bg-no-repeat"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- testimonial -->
  <div
    class="hidden sm:grid sm:grid-cols-3 sm:w-[80%] w-[90%] mx-auto py-[30px] text-[#656565]"
  >
    <div class="p-4">
      <p class="font-semibold text-[2rem] text-[#20325e] pb-4">
        The Best Resort
      </p>
      <p class="text-[#b8b8b8]">
        The team at Baroque is incredibly dedicated, knowledgeable, and helpful.
        The finished product was beautiful every penny incredibly dedicated,
        bleincredibly dedicated, knowledgeable.
      </p>
      <div class="flex items-center space-x-4 py-4">
        <div
          class="w-[40px] h-[40px] rounded-full bg-[#f6ac22] bg-cover bg-center"
        ></div>
        <p class="font-semibold">PARKED DEVED</p>
      </div>
    </div>
    <div class="p-4">
      <p class="font-semibold text-[2rem] text-[#20325e] pb-4">
        Healthy Environment
      </p>
      <p class="text-[#b8b8b8]">
        The team at Baroque is incredibly dedicated, knowledgeable, and helpful.
        The finished product was beautiful every penny incredibly dedicated,
        bleincredibly dedicated, knowledgeable.
      </p>
      <div class="flex items-center space-x-4 py-4">
        <div
          class="w-[40px] h-[40px] rounded-full bg-[#f6ac22] bg-cover bg-center"
        ></div>
        <p class="font-semibold">PARKED DEVED</p>
      </div>
    </div>
    <div class="p-4">
      <p class="font-semibold text-[2rem] text-[#20325e] pb-4">
        Best Holiday Place
      </p>
      <p class="text-[#b8b8b8]">
        I love the Resort and its environment . Baroque is incredibly dedicated,
        knowledgeable, and helpful. The finished product was beautiful every
        penny incredibly dedicated, bleincredibly dedicated, knowledgeable.
      </p>
      <div class="flex items-center space-x-4 py-4">
        <div
          class="w-[40px] h-[40px] rounded-full bg-[#f6ac22] bg-cover bg-center"
        ></div>
        <p class="font-semibold">PARKED DEVED</p>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center pb-[30px]">
    <a
      href="/"
      class="mx-auto px-6 py-3 text-[#f9f9f9] bg-[#e43737] font-semibold text-[0.8rem] rounded-md"
      >MORE TESTIMONIALS</a
    >
  </div>
  <hr />

  <!-- News and Articles -->

  <section>
    <p class="text-[2.5rem] text-center text-[#21265b] font-bold py-6 sm:py-12">
      News & Articles
    </p>

    <!-- caraousal news article -->
    <div
      id="carouselDarkVariant"
      class="carousel-dark slide relative sm:hidden"
      data-bs-ride="carousel"
    >
      <div
        class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4"
      >
        <button
          type="button"
          data-bs-target="#carouselDarkVariant"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselDarkVariant"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselDarkVariant"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner relative w-full overflow-hidden">
        <div class="carousel-item active float-left w-full p-6">
          <div class="relative sm:pb-0 pb-[250px]">
            <div
              class="rounded-[15px] h-[200px] sm:h-[260px] bg-cover bg-center"
              style="
                background-image: url('images/fabio-fistarol-qai_Clhyq0s-unsplash.jpg');
              "
            ></div>
            <div
              class="bg-white shadow-xl rounded-lg absolute p-8 w-[85%] bottom-0 right-0 -translate-y-[20%] sm:translate-y-[70%]"
            >
              <p class="text-[#b0b0b0] pb-4">admin/0 Comments</p>
              <p
                class="sm:text-[2.2rem] text-[1.5rem] font-bold leading-[33px] pb-6 text-[#253571]"
              >
                New Heaven for our customers inn ...
              </p>
              <a
                href="/"
                class="text-[#e43737] text-[0.6rem] font-bold px-4 py-2 rounded-full bg-[#ebe9e3]"
                >READ MORE</a
              >
              <div
                class="absolute top-0 -translate-y-1/2 flex items-center justify-center right-[20px] w-[65px] h-[65px] bg-[#e73333] text-white rounded-full"
              >
                <p class="leading-[20px] text-[15px] font-bold">11<br />Dec</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item float-left w-full p-6">
          <div class="relative sm:pb-0 pb-[250px]">
            <div
              class="rounded-[15px] h-[200px] sm:h-[260px] bg-cover bg-center"
              style="
                background-image: url('images/fabio-fistarol-qai_Clhyq0s-unsplash.jpg');
              "
            ></div>
            <div
              class="bg-white shadow-xl rounded-lg absolute p-8 w-[85%] bottom-0 right-0 -translate-y-[20%] sm:translate-y-[70%]"
            >
              <p class="text-[#b0b0b0] pb-4">admin/0 Comments</p>
              <p
                class="sm:text-[2.2rem] text-[1.5rem] font-bold leading-[33px] pb-6 text-[#253571]"
              >
                New Heaven for our customers inn ...
              </p>
              <a
                href="/"
                class="text-[#e43737] text-[0.6rem] font-bold px-4 py-2 rounded-full bg-[#ebe9e3]"
                >READ MORE</a
              >
              <div
                class="absolute top-0 -translate-y-1/2 flex items-center justify-center right-[20px] w-[65px] h-[65px] bg-[#e73333] text-white rounded-full"
              >
                <p class="leading-[20px] text-[15px] font-bold">11<br />Dec</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item float-left w-full p-6">
          <div class="relative sm:pb-0 pb-[250px]">
            <div
              class="rounded-[15px] h-[200px] sm:h-[260px] bg-cover bg-center"
              style="
                background-image: url('images/fabio-fistarol-qai_Clhyq0s-unsplash.jpg');
              "
            ></div>
            <div
              class="bg-white shadow-xl rounded-lg absolute p-8 w-[85%] bottom-0 right-0 -translate-y-[20%] sm:translate-y-[70%]"
            >
              <p class="text-[#b0b0b0] pb-4">admin/0 Comments</p>
              <p
                class="sm:text-[2.2rem] text-[1.5rem] font-bold leading-[33px] pb-6 text-[#253571]"
              >
                New Heaven for our customers inn ...
              </p>
              <a
                href="/"
                class="text-[#e43737] text-[0.6rem] font-bold px-4 py-2 rounded-full bg-[#ebe9e3]"
                >READ MORE</a
              >
              <div
                class="absolute top-0 -translate-y-1/2 flex items-center justify-center right-[20px] w-[65px] h-[65px] bg-[#e73333] text-white rounded-full"
              >
                <p class="leading-[20px] text-[15px] font-bold">11<br />Dec</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
        type="button"
        data-bs-target="#carouselDarkVariant"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon inline-block bg-no-repeat"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
        type="button"
        data-bs-target="#carouselDarkVariant"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon inline-block bg-no-repeat"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div
      class="hidden sm:grid sm:grid-cols-3 sm:w-[80%] w-[90%] mx-auto sm:pb-[230px] pb-[60px] gap-6"
    >
      <!-- 1st blog -->
      <div class="relative sm:pb-0 pb-[250px]">
        <div
          class="rounded-[15px] h-[200px] sm:h-[260px] bg-cover bg-center"
          style="
            background-image: url('images/fabio-fistarol-qai_Clhyq0s-unsplash.jpg');
          "
        ></div>
        <div
          class="bg-white shadow-xl rounded-lg absolute p-8 w-[85%] bottom-0 right-0 -translate-y-[20%] sm:translate-y-[70%]"
        >
          <p class="text-[#b0b0b0] pb-4">admin/0 Comments</p>
          <p
            class="sm:text-[2.2rem] text-[1.5rem] font-bold leading-[33px] pb-6 text-[#253571]"
          >
            New Heaven for our customers inn ...
          </p>
          <a
            href="/"
            class="text-[#e43737] text-[0.6rem] font-bold px-4 py-2 rounded-full bg-[#ebe9e3]"
            >READ MORE</a
          >
          <div
            class="absolute top-0 -translate-y-1/2 flex items-center justify-center right-[20px] w-[65px] h-[65px] bg-[#e73333] text-white rounded-full"
          >
            <p class="leading-[20px] text-[15px] font-bold">11<br />Dec</p>
          </div>
        </div>
      </div>

      <!-- 2nd blog -->
      <div class="relative sm:pb-0 pb-[250px]">
        <div
          class="rounded-[15px] h-[200px] sm:h-[260px] bg-cover bg-center"
          style="
            background-image: url('images/fabio-fistarol-qai_Clhyq0s-unsplash.jpg');
          "
        ></div>
        <div
          class="bg-white shadow-xl rounded-lg absolute p-8 w-[85%] bottom-0 right-0 -translate-y-[20%] sm:translate-y-[70%]"
        >
          <p class="text-[#b0b0b0] pb-4">admin/0 Comments</p>
          <p
            class="sm:text-[2.2rem] text-[1.5rem] font-bold leading-[33px] pb-6 text-[#253571]"
          >
            New Heaven for our customers inn ...
          </p>
          <a
            href="/"
            class="text-[#e43737] text-[0.6rem] font-bold px-4 py-2 rounded-full bg-[#ebe9e3]"
            >READ MORE</a
          >
          <div
            class="absolute top-0 -translate-y-1/2 flex items-center justify-center right-[20px] w-[65px] h-[65px] bg-[#e73333] text-white rounded-full"
          >
            <p class="leading-[20px] text-[15px] font-bold">11<br />Dec</p>
          </div>
        </div>
      </div>

      <!-- 3rd blog -->
      <div class="relative sm:pb-0 pb-[250px]">
        <div
          class="rounded-[15px] h-[200px] sm:h-[260px] bg-cover bg-center"
          style="
            background-image: url('images/fabio-fistarol-qai_Clhyq0s-unsplash.jpg');
          "
        ></div>
        <div
          class="bg-white shadow-xl rounded-lg absolute p-8 w-[85%] bottom-0 right-0 -translate-y-[20%] sm:translate-y-[70%]"
        >
          <p class="text-[#b0b0b0] pb-4">admin/0 Comments</p>
          <p
            class="sm:text-[2.2rem] text-[1.5rem] font-bold leading-[33px] pb-6 text-[#253571]"
          >
            New Heaven for our customers inn ...
          </p>
          <a
            href="/"
            class="text-[#e43737] text-[0.6rem] font-bold px-4 py-2 rounded-full bg-[#ebe9e3]"
            >READ MORE</a
          >
          <div
            class="absolute top-0 -translate-y-1/2 flex items-center justify-center right-[20px] w-[65px] h-[65px] bg-[#e73333] text-white rounded-full"
          >
            <p class="leading-[20px] text-[15px] font-bold">11<br />Dec</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
